<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Shopping Cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">-->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="css/styles.css" rel="stylesheet">
</head>

<body>
<script type="text/x-handlebars-template" data-template-p="shopping-cart" id="template">
    <div class="container">
        <h2 class="cart-title">YOUR SHPPING BAG</h2>
        <span class="m-cart-available-items">{{productsInCart.length}} ITEMS</span>
        <div id="productList">
            <div class="header-container">
                <ul class="product-header">
                    <li class="prd-column items">{{productsInCart.length}} ITEMS</li>
                    <li class="prd-column size">SIZE</li>
                    <li class="prd-column quantity">QTY</li>
                    <li class="prd-column price">PRICE</li>
                </ul>
            </div>
            <div class="body-container">
                {{#each productsInCart}}
                <div class="product-list">
                    <div class="prd-column items product-image">
                        <div class="prd-image">
                            <img src="images/assets/T{{p_id}}.jpg" alt="{{p_name}}" class="product-image">
                        </div>
                        <div class="product-conf">
                            <div class="product-details">
                                <h3 class="product-name">{{p_name}}</h3>
                                <span class="style">Style #: {{p_style}}</span><br>
                                <span class="item-colour">Colour: {{p_selected_color.name}}</span>
                            </div>
                            <div class="modify-item">
                                <span data-product="{{p_id}}" class="edit">EDIT</span>
                                <span class="remove">X REMOVE</span>
                                <span class="save-for-later">SAVE FOR LATER</span>
                            </div>
                        </div>
                    </div>
                    <div class="size-qty-price">
                        <div class="prd-column prd-size">
                            <span class="m-size">Size: </span>
                            <span>{{p_selected_size.code}}</span>
                        </div>
                        <div class="prd-column prd-quantity">
                            <label for="" class="m-quantity">QTY: </label>
                            <input type="number" value="{{p_quantity}}" class="item-quantity" min="1" max="5">
                        </div>
                        <div class="prd-column prd-price">
                            {{#ifEqual p_originalprice p_price}}
                            <span>{{c_currency}}{{p_price}}</span>
                            {{else}}
                            <span style="text-decoration: line-through;color: #999;">{{c_currency}}{{p_originalprice}}</span>
                            <span>{{c_currency}}{{p_price}}</span>
                            {{/ifEqual}}
                        </div>
                    </div>
                </div>
                {{/each}}
                <div class="overlay hidden">

                </div>
            </div>
        </div>

        <div id="subTotal">
            <div class="left-menu" style="width:30%">
                <div class="question-cqh">
                    <span>Need help</span>
                    <span class="tax-notification">or have question ?</span>
                </div>
                <div class="question-cqh">
                    <span>Call Customer Service at</span>
                    <span class="tax-notification">1-800-555-55555</span>
                </div>
                <div class="question-cqh">
                    <a href="#"><span>Chat with one of our stylists</span></a>
                </div>
                <div class="question-cqh">
                    <a href="#"><span>See Return & Exchange policy</span></a>
                </div>
            </div>
            <div class="right-menu">
                <div class="discount-coupon">
                    <label for="promoCode" class="promo-label">ENTER PROMOTION CODE OR GIFT CARD</label>
                    <input id="promoCode" type="text" placeholder="Enter Coupon">
                    <input type="button" value="APPLY" class="apply-button">
                </div>
                <div class="subtotal-calculation">
                    <div class="subtotal">
                        <span>SUBTOTAL</span>
                        <span class="sub-amount">$0.00</span>
                    </div>
                    <div class="subtotal">
                        <span>PROMOTION CODE {{code}} APPLIED</span>
                        <span class="promo-code-amount">-$0.00</span>
                    </div>
                    <div class="subtotal">
                        <div class="shipping-info">
                            <span>ESTIMATED SHIPPING*</span>
                            <span class="shipping-free">You qualify for free shipping because your order is over $50*</span>
                        </div>
                        <span class="shipping-charge">FREE</span>
                    </div>
                    <div class="subtotal estimated-subtotal">
                        <div class="estimation">
                            <span>ESTIMATED TOTAL</span>
                            <span class="tax-notification">Tax will be applied during checkout</span>
                        </div>
                        <span class="estimated-total">$0.00</span>
                    </div>
                </div>
                <div class="checkout">
                    <a href="#" class="continue-shopping"><span>CONTINUE SHOPPING</span></a>
                    <input type="button" value="CHECKOUT" class="checkout-button">
                </div>
                <div class="secure-checkout">
                    <img src="images/assets/lock.jpg" alt="" class="secure-lock">
                    <p>Secure checkout: Shopping is always safe and secure</p>
                </div>

            </div>
        </div>
    </div>
</script>
<script id="overlayModal" type="text/x-handlebars-template">
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-content">
                <div class="overlay-prd-details">
                    <h3 class="overlay-product-name">{{p_name}}</h3>
                    <span class="overlay-prd-price">
                        <span class="price-symbol">{{c_currency}}</span>
                        <span class="price-number">{{p_price}}</span>
                    </span>
                    <div class="overlay-color-pallet">
                        {{#each p_available_options.colors}}
                        <span class="overlay-colors {{hexcode}}"></span>
                        {{/each}}
                    </div>
                    <select name="" id="overlaySize">
                        {{#each p_available_options.sizes}}
                        <option value="{{name}}">{{code}}</option>
                        {{/each}}
                    </select>
                    <select name="" id="overlayQty">
                        <option value="">QTY: 1</option>
                        <option value="">QTY: 2</option>
                        <option value="">QTY: 3</option>
                        <option value="">QTY: 4</option>
                    </select>
                    <div class="add-to-cart">
                        <input type="button" class="btn-add-to-cart" value="ADD TO BAG">
                        <a href="#"><span>See product details</span></a>
                    </div>
                </div>
                <div class="overlay-prd-image">
                    <img src="images/assets/P1.jpg" alt="">
                </div>
            </div>
            <span class="close">&times;</span>
        </div>
    </div>
</script>

<!-- script references -->
<script src="lib/jquery/dist/jquery.min.js"></script>
<!--<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>-->
<script src="lib/handlebars/handlebars.js"></script>
<script src="js/handlebars-template.js"></script>
<script src="js/main.js"></script>
</body>

</html>